<form
  className="was-validated"
  [formGroup]="this.roundForm"
  (submit)="onSubmit()"
>
  <div className="form-row justify-content-center">
    <!-- <div className="form-group col-sm-2">
        <label>ZeitBlock</label>
        <button
          className="btn btn-outline-secondary dropdown-toggle"
          data-toggle="dropdown"
          onClick={() =>
            setDp_tb((prev) => {
              if (prev.length > 0) {
                return "";
              }
              return " show";
            })
          }
          type="button"
        >
          {tbH}
        </button>
        <div className={"dropdown-menu" + dp_tb}>
          {props.time_block.map((v) => {
            return (
              <a
                className="dropdown-item"
                href="#"
                onClick={() => {
                  setDp_tb("");
                  setTb(v.value);
                  setTbH(v.text);
                  props.createTableOptions(v.value);
                }}
                key={v.value}
              >
                {v.text}
              </a>
            );
          })}
        </div>
      </div>
      {props.tableOptions.length > 0 ? (
        <div className="form-group col-sm-3">
          <label>Tisch Nummer</label>
          <button
            className="btn btn-outline-secondary dropdown-toggle"
            data-toggle="dropdown"
            onClick={() =>
              setDp_table((prev) => {
                if (prev.length > 0) {
                  return "";
                }
                return " show";
              })
            }
            type="button"
          >
            {tableH}
          </button>
          <div className={"dropdown-menu" + dp_table}>
            {props.tableOptions.map((v) => {
              return (
                <a
                  className="dropdown-item"
                  href="#"
                  onClick={() => {
                    setDp_table("");
                    setTable(v.value);
                    setTableH(v.text);
                  }}
                  key={v.value}
                >
                  {v.text}
                </a>
              );
            })}
          </div>
        </div>
      ) : (
        ""
      )}
    </div> -->
    <div
      className="form-group row justify-content-center"
      *ngFor="let item of this.roundItems"
    >
      <label className="col-sm-3 col-form-label">{{ item.name }}</label>
      <div className="col-sm-9">
        <input
          required
          minLength="2"
          maxLength="64"
          type="{{ item.type }}"
          name="round_name"
          className="form-control"
          formControlName="{{ item.value }}"
        />
      </div>
    </div>
    <div className="form-group row justify-content-center">
      <label className="col-sm-3 col-form-label">
        Vorgefertigte Charakter
      </label>
      <div className="col-sm-9" *ngFor="let item of this.radioChar">
        <div className="form-check form-check-inline">
          <input
            required
            type="radio"
            name="premade_char"
            id="inlineradiochar1"
            className="form-check-input"
            formControlName="premade_char"
            value="{{ item.value }}"
          />
          <label className="form-check-label">{{ item.name }}</label>
        </div>
      </div>
    </div>
    <div className="form-group row justify-content-center">
      <label className="col-sm-3 col-form-label">Rundenbeschreibung</label>
      <div className="col-sm-9">
        <input type="text" formControlName="desc" />
      </div>
    </div>
  </div>
</form>
<div className="form-group row justify-content-center">
  <button className="btn btn-outline-dark col-sm-4" onClick="{props.onCancel}">
    Abbruch
  </button>
  <button className="btn btn-outline-dark col-sm-4" (click)="onSubmit()">
    Speichern
  </button>
</div>
