<div className="row justify-content-center">
  <form
    className="col-sm-7 was-validated"
    [formGroup]="tbForm"
    (submit)="onSave()"
  >
    <div className="form-row">
      <div className="input-group mb-3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Name
        </span>
        <input
          required
          minLength="2"
          maxLength="32"
          className="form-control"
          type="text"
          name="block_name"
          formControlName="name"
          placeholder="Hier Namen einfügen"
          value="{name}"
        />
      </div>
    </div>
    <!-- <div className="form-row">
          <div className="input-group mb-3">
            <button
              id="text"
              className="btn btn-outline-secondary dropdown-toggle col-sm-3"
              data-toggle="dropdown"
              onClick={() =>
                setShowdp_start((prev) => {
                  if (prev.length > 0) {
                    return "";
                  }
                  return " show";
                })
              }
              type="button"
            >
              {phTime.start}
            </button>
            <div className={"dropdown-menu" + showdp_start}>
              {inBetweenTime(props.event.e_start, props.event.e_end).map(
                (v) => {
                  return (
                    <a
                      className="dropdown-item"
                      href="#"
                      onClick={() => {
                        setShowdp_start("");
                        setDate((prev) => {
                          prev.start = Number(v.value);
                          return prev;
                        });
                        setPhTime((prev) => {
                          prev.start = v.text;
                          return prev;
                        });
                      }}
                      key={v.value}
                    >
                      {v.text}
                    </a>
                  );
                }
              )}
            </div>
            <input
              required
              className="form-control"
              type="time"
              name="start"
              onChange={() => setClock_start(event.target.value)}
              value={clock_start}
            />
          </div>
        </div> -->
    <!-- <div className="form-row">
          <div className="input-group mb-3">
            <button
              id="text"
              className="btn btn-outline-secondary dropdown-toggle col-sm-3"
              data-toggle="dropdown"
              onClick={() =>
                setShowdp_end((prev) => {
                  if (prev.length > 0) {
                    return "";
                  }
                  return " show";
                })
              }
              type="button"
            >
              {phTime.end}
            </button>
            <div className={"dropdown-menu" + showdp_end}>
              {inBetweenTime(props.event.e_start, props.event.e_end).map(
                (v) => {
                  return (
                    <a
                      className="dropdown-item"
                      href="#"
                      onClick={() => {
                        setShowdp_end("");
                        setDate((prev) => {
                          prev.end = Number(v.value);
                          return prev;
                        });
                        setPhTime((prev) => {
                          prev.end = v.text;
                          return prev;
                        });
                      }}
                      key={v.value}
                    >
                      {v.text}
                    </a>
                  );
                }
              )}
            </div>
            <input
              className="form-control"
              type="time"
              name="end"
              onChange={() => setClock_end(event.target.value)}
              value={clock_end}
            />
          </div>
        </div> -->
    <div className="form-row">
      <div className="input-group mb3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Tisch Anzahl
        </span>
        <input
          required
          min="0"
          className="form-control"
          type="number"
          name="block_max_table"
          formControlName="max_table"
          value="{table_number}"
        />
      </div>
    </div>
    <div className="form-row">
      <div className="input-group mb3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Spielblock
        </span>
        <input
          className="form-control col-sm-1"
          type="checkbox"
          name="block_pnp"
          checked="{pnp}"
          formControlName="pnp"
        />
      </div>
    </div>
    <div className="form-row justify-content-center">
      <button
        id="text"
        type="submit"
        className="btn btn-outline-dark col-sm-4"
        (click)="onSave()"
      >
        Speichern
      </button>
    </div>
  </form>
  <button
    id="text"
    className="btn btn-outline-dark col-sm-4"
    (click)="onEmitClose()"
  >
    Abbrechen
  </button>
</div>
