<div className="row justify-content-center">
  <form
    className="col-sm-7 was-validated"
    [formGroup]="tbForm"
    (submit)="onSave()"
  >
    <div className="form-row">
      <div className="input-group mb-3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Name
        </span>
        <input
          required
          minLength="2"
          maxLength="32"
          className="form-control"
          type="text"
          name="block_name"
          formControlName="name"
          placeholder="Hier Namen einfügen"
          value="{name}"
        />
      </div>
    </div>
    <div className="form-row">
      <div className="input-group mb-3" formGroupName="start">
        <label>Start</label>
        <select formControlName="day">
          <option disabled>Wähle Tag</option>
          <option *ngFor="let day of this.timeSettings" value="{{ day.value }}">
            {{ day.name }}
          </option>
        </select>
        <input
          className="form-control"
          formControlName="time"
          type="time"
          name="start"
        />
      </div>
    </div>
    <div className="form-row">
      <div className="input-group mb-3" formGroupName="end">
        <label>Ende</label>
        <select formControlName="day">
          <option disabled>Wähle Tag</option>
          <option *ngFor="let day of this.timeSettings" value="{{ day.value }}">
            {{ day.name }}
          </option>
        </select>
        <input
          className="form-control"
          formControlName="time"
          type="time"
          name="end"
        />
      </div>
    </div>
    <div className="form-row">
      <div className="input-group mb3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Tisch Anzahl
        </span>
        <input
          required
          min="0"
          className="form-control"
          type="number"
          name="block_max_table"
          formControlName="max_table"
          value="{table_number}"
        />
      </div>
    </div>
    <div className="form-row">
      <div className="input-group mb3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Spielblock
        </span>
        <input
          className="form-control col-sm-1"
          type="checkbox"
          name="block_pnp"
          checked="{pnp}"
          formControlName="pnp"
        />
      </div>
    </div>
    <div className="form-row justify-content-center">
      <button
        id="text"
        type="submit"
        className="btn btn-outline-dark col-sm-4"
        (click)="onSave()"
      >
        Speichern
      </button>
    </div>
  </form>
  <button
    id="text"
    className="btn btn-outline-dark col-sm-4"
    (click)="onEmitClose()"
  >
    Abbrechen
  </button>
</div>
