<!-- <div className="col-sm-10">
    <div className="text-left round text-break">
      <div className="roundZoom" onClick={() => onExtendRound(k)}>
        <div className="row">
          <label className="col-sm-4">Runden Name</label>
          <div className="col-sm-8 text-muted">{k.round_name}</div>
        </div>
        {extendR != k._id ? (
          ""
        ) : (
          <React.Fragment>
            <div className="row text-left">
              <label className="col-sm-4">Spielleiter</label>
              <div className="col-sm-8 text-muted">{k.round_gm}</div>
            </div>
          </React.Fragment>
        )}
        <div className="row">
          <label className="col-sm-4">Setting</label>
          <div className="col-sm-8 text-muted">{k.setting}</div>
        </div>
        <div className="row">
          <label className="col-sm-4">Regelwerk</label>
          <div className="col-sm-8 text-muted">{k.ruleset}</div>
        </div>
        {extendR != k._id ? (
          <React.Fragment>
            <div className="row">
              <label className="col-sm-4">Spieler</label>
              <div className="col-sm-8 text-muted">
                {k.round_curr_pl}/{k.round_max_online_pl}
              </div>
            </div>
          </React.Fragment>
        ) : (
          <React.Fragment>
            <div className="row text-left">
              <label className="col-sm-4">maximale Spieler</label>
              <div className="col-sm-8 text-muted">{k.round_max_pl}</div>
            </div>
            <div className="row text-left">
              <label className="col-sm-4">maximale OnlineAnmeldung</label>
              <div className="col-sm-8 text-muted">
                {k.round_max_online_pl}
              </div>
            </div>
            <div className="row">
              <label className="col-sm-4">Teilnehmer</label>
              <div className="col-sm-8 text-muted">
                {onPlayers(k.round_player)}
              </div>
            </div>
            <div className="row text-left">
              <label className="col-sm-4">Vorgefertigte Charaktere</label>
              <div className="col-sm-8 text-muted">
                {JSON.parse(k.own_char) ? "Ja" : "Nein"}
              </div>
            </div>
            <div className="row text-left">
              <label className="col-sm-4">Rundenbeschreibung</label>
              <div
                className="col-sm-8 text-muted"
                dangerouslySetInnerHTML={{ __html: k.round_desc }}
              ></div>
            </div>
          </React.Fragment>
        )}
      </div>
      {extendR != k._id ? (
        <React.Fragment>
          <div
            className="row justify-content-center"
            onClick={() => onExtendRound(k)}
          >
            <i className="maximize_icon"></i>
            {out}
          </div>
        </React.Fragment>
      ) : (
        <React.Fragment>
          <div
            className="row justify-content-start"
            onClick={() => onExtendRound(k)}
          >
            <i className="minimize_icon"></i>
            {out}
          </div>
        </React.Fragment>
      )}
    </div>
  </div>
</div> -->
