<ul class="nav nav-fill nav-tabs justify-content-center nav-bar">
  <li class="nav-item py-0">
    <div>
      <button id="welcome" class="button">
        <i class="home_icon"></i>
        <span class="d-none d-md-block">Willkommen</span>
      </button>
    </div>
  </li>
  <li class="nav-item py-0">
    <div>
      <button id="text" class="button">
        <i class="box_icon"></i>
        <span class="d-none d-sm-block">Spielerunde</span>
      </button>
    </div>
  </li>
  <!-- {login} {adminInterface} {Meteor.userId() != null ? (
  <li class="nav-item py-0">
    <div>
      <button id="text" class="button">
        <i class="key_icon"></i>
        <span class="d-none d-sm-block">Abmeldung</span>
      </button>
    </div>
  </li>
  ) : (
  <li class="nav-item py-0">
    <div>
      <button id="text" class="button">
        <i class="key_icon"></i>
        <span class="d-none d-sm-block">Anmeldung</span>
      </button>
    </div>
  </li>
  )} -->
</ul>
