<div class="card">
  <div class="card-body">
    <h5 class="card-title">Profil Name</h5>
    <p class="text-muted">{{ user?.profile }}</p>
    <h5 class="card-title">Vorname</h5>
    <p class="text-muted">{{ user?.first }}</p>
    <h5 class="card-title">Nachname</h5>
    <p class="text-muted">{{ user?.last }}</p>
    <h5 class="card-title">Alter</h5>
    <p class="text-muted">
      {{ user?.age }}
    </p>

    <div *ngIf="user?.bill; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <h5 class="card-title">Zahlungseingang ist bestätigt</h5>
    </ng-template>
    <ng-template #elseBlock>
      <h5 class="card-title">Noch kein Zahlungseingang</h5>
    </ng-template>
    <button
      [routerLink]="'edit'"
      routerLinkActive="active"
      id="text"
      class="btn btn-outline-dark"
    >
      Ändern
    </button>
    <button
      [routerLink]="'pwchange'"
      routerLinkActive="active"
      id="text"
      class="btn btn-outline-dark"
    >
      Passwort ändern
    </button>
  </div>
</div>
