<!-- <div className="text-center welcome">
    <div className="row">
      <div className="col-sm-12">
        {change_pw ? (
          <React.Fragment>
            <div className="row justify-content-center">
              <div className="card">
                <div
                  className="card-body"
                  onSubmit={() => {
                    onPasswordChange();
                  }}
                >
                  <h5 className="card-title">Altes Passwort</h5>
                  <p className="text-muted">
                    <input
                      required
                      minLength="6"
                      type="password"
                      className="form-control"
                      onChange={(event) => setOld_PW(event.target.value)}
                      placeholder="Altes Passwort"
                      autoComplete="off"
                    />
                  </p>
                  <h5 className="card-title">Neues Passwort</h5>
                  <p className="text-muted">
                    <input
                      required
                      minLength="6"
                      type="password"
                      className="form-control"
                      onChange={(event) => setNew_PW(event.target.value)}
                      placeholder="Neues Passwort"
                      autoComplete="off"
                    />
                  </p>
                  <h5 className="card-title">Passwort wiederholen</h5>
                  <p className="text-muted">
                    <input
                      required
                      minLength="6"
                      type="password"
                      className="form-control"
                      onChange={(event) => setCon_PW(event.target.value)}
                      placeholder="Passwort wiederholen"
                      autoComplete="off"
                    />
                  </p>
                  <button
                    id="text"
                    className="btn btn-outline-dark"
                    onClick={(event) => {
                      setChange_PW(false);
                      event.preventDefault();
                    }}
                  >
                    Abbruch
                  </button>
                  <button
                    id="text"
                    className="btn btn-outline-dark"
                    onClick={(event) => {
                      event.preventDefault();
                      onPasswordChange();
                    }}
                  >
                    Bestätigen
                  </button>
                  {announce}
                </div>
              </div>
            </div>
          </React.Fragment>
        ) : (
          <React.Fragment>
            {edit ? (
              <form className="was-validated card-account">
                <div className="form-row justify-content-center">
                  <div className="form-group col-sm-3">
                    <label>Profil Name</label>
                    <input
                      required
                      minLength="2"
                      maxLength="32"
                      type="text"
                      className="form-control"
                      name="profil"
                      onChange={(event) => setProfil(event.target.value)}
                      placeholder={profil}
                      id="profil"
                      value={profil}
                    />
                  </div>
                </div>
                <div className="form-row justify-content-center">
                  <div className="form-group col-sm-3">
                    <label>Vorname</label>
                    <input
                      required
                      minLength="2"
                      maxLength="32"
                      type="text"
                      className="form-control"
                      name="first"
                      onChange={(event) => setFirst(event.target.value)}
                      placeholder={first}
                      id="first"
                      value={first}
                    />
                  </div>
                  <div className="form-group col-sm-3">
                    <label>Nachname</label>
                    <input
                      required
                      minLength="2"
                      maxLength="32"
                      type="text"
                      className="form-control"
                      name="last"
                      onChange={(event) => setLast(event.target.value)}
                      placeholder={last}
                      id="last"
                      value={last}
                    />
                  </div>
                </div>
                <div className="form-row justify-content-center">
                  <div className="form-group col-sm-3">
                    <label>Alter</label>
                    <input
                      required
                      type="date"
                      name="age"
                      className="form-control"
                      id="age"
                      onChange={(event) => setAge(event.target.value)}
                      value={useDate(age)}
                    />
                  </div>
                </div>
                <div className="form-row justify-content-center">
                  <div className="form-group col-sm-3">
                    <button
                      id="text"
                      className="btn btn-outline-dark"
                      onClick={(event) => {
                        setEdit(false);
                        event.preventDefault();
                      }}
                    >
                      Abbruch
                    </button>
                  </div>
                  <div className="form-group col-sm-3">
                    <button
                      id="text"
                      className="btn btn-outline-dark"
                      onClick={onSave}
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            ) : (
              <div className="row justify-content-center">
                <div className="card">
                  <div className="card-body">
                    {props.user ? (
                      <React.Fragment>
                        <h5 className="card-title">Profil Name</h5>
                        <p className="text-muted">
                          {props.user.profile.profil}
                        </p>
                        <h5 className="card-title">Vorname</h5>
                        <p className="text-muted">
                          {props.user.profile.first}
                        </p>
                        <h5 className="card-title">Nachname</h5>
                        <p className="text-muted">
                          {props.user.profile.last}{" "}
                        </p>
                        <h5 className="card-title">Alter</h5>
                        <p className="text-muted">
                          {new Date(props.user.profile.age).toDateString()}
                        </p>
                        <h5 className="card-title">{bill}</h5>
                      </React.Fragment>
                    ) : (
                      ""
                    )}
                    <button
                      id="text"
                      className="btn btn-outline-dark"
                      onClick={() => {
                        setEdit(true);
                        updateParams();
                      }}
                    >
                      Ändern
                    </button>
                    <button
                      id="text"
                      className="btn btn-outline-dark"
                      onClick={() => {
                        setChange_PW(true);
                      }}
                    >
                      Passwort ändern
                    </button>
                  </div>
                </div>
              </div>
            )}
          </React.Fragment>
        )}
      </div>
    </div>
  </div> -->
