<!-- div className="col-sm-9">
      <h4
        className="text-center"
        id="data"
        onClick={(event) => onTabChange(event.target)}
      >
        <strong id="data">Event Daten</strong>
      </h4>
      {tab == "data" ? (
        <React.Fragment>
          {eventEdit ? (
            
          ) : ( -->
<ng-container *ngIf="this.edit; then newTrue; else newFalse"> </ng-container>
<ng-template #newTrue>
  <app-edit
    [eventSettings]="this.eventSetting"
    (editClose)="this.edit = false"
  ></app-edit>
</ng-template>
<ng-template #newFalse>
  <div className="text-left">
    <div *ngFor="let item of items" className="row">
      <label className="col-sm-4">{{ item.name }}</label>
      <div className="col-sm-8 text-muted">{{ item.value }}</div>
    </div>
    <div className="row justify-content-center">
      <button
        className="btn btn-outline-dark col-sm-5"
        (click)="this.edit = true"
      >
        Edit
      </button>
    </div>
  </div>
</ng-template>
<!-- )}
        </React.Fragment>
      ) : (
        ""
      )}
      <h4
        className="text-center"
        onClick={(event) => onTabChange(event.target)}
      >
        <strong id="tpl">Page Templates</strong>
      </h4>
      {tab == "tpl" ? (
        <React.Fragment>
          <button
            onClick={() => {
              setTemplate(land_page);
              setTemplateTab("lp");
            }}
          >
            LandingPage
          </button>{" "}
          <button
            onClick={() => {
              setTemplate(welcome_email);
              setTemplateTab("we");
            }}
          >
            WelcomeEmail
          </button>{" "}
          <button
            onClick={() => {
              setTemplate(confirm_email);
              setTemplateTab("ce");
            }}
          >
            ConfirmationEmail
          </button>
          {tpl_tab == "" ? (
            ""
          ) : (
            <>
              <div className="col-sm-9">
                <ReactQuill
                  required
                  value={tpl}
                  onChange={(value) => setTemplate(value)}
                  // placeholder={props.round_create.round_desc}
                />
              </div>
              <button onClick={() => onSubmitTpl()}>Submit</button>
            </>
          )}
        </React.Fragment>
      ) : (
        ""
      )}
    </div> -->
