<div>
  <div className="row" *ngFor="let block of this.timeBlocks">
    <div className="col-sm time_block_container">
      <div
        className="row list-group-item time_block"
        (click)="setSelectBlock(block.id)"
        id="time_block"
      >
        <h4 className="text-center">
          <strong>{{ block.name }}</strong>
        </h4>
        <p className="text-center">
          <span className="col-sm-3">
            <strong>Start:</strong>
            {{ getDateFormate(block.start) }}
          </span>
          <span className="col-sm-3">
            <strong>Ende:</strong>
            {{ getDateFormate(block.end) }}
          </span>
          <span className="col-sm-3">
            <strong>Tisch:</strong>
            {{ getTableCount(block.id) }}/{{ block.max_table }}
          </span>
        </p>
      </div>
      <div *ngIf="this.selectBlock === block.id">
        <div *ngFor="let round of this.rounds[block.id]">
          <div className="text-left round text-break">
            <div className="roundZoom" (click)="selectRound(round.id)">
              <div className="row">
                <label className="col-sm-4">Runden Name</label>
                <div className="col-sm-8 text-muted">{{ round.name }}</div>
              </div>
              <div className="row">
                <label className="col-sm-4">Setting</label>
                <div className="col-sm-8 text-muted">{{ round.setting }}</div>
              </div>
              <div className="row">
                <label className="col-sm-4">Regelwerk</label>
                <div className="col-sm-8 text-muted">{{ round.ruleset }}</div>
              </div>
              <div className="row">
                <label className="col-sm-4">Spieler</label>
                <div className="col-sm-8 text-muted">
                  <!-- {{ round.curr_pl }}/{{ round.max_online_pl }} -->
                </div>
              </div>
            </div>
            <div
              className="row justify-content-center"
              onClick="{() => onExtendRound(k)}"
            >
              <i className="maximize_icon"></i>
            </div>
          </div>
        </div>

        <!-- {{/* <h4 className="col-sm-4">{{block.block_name}}</h4>
                        <p>
                            <div className='col-sm-3'>
                                <label className='time_block'>Tische</label> <a className='text-muted' >{{block.block_table.length}}/{{block.block_max_table}}</a>
                            </div>
                        </p> */}}
          </div>
          {{blockTab === block._id ? <div className="row">{{round}}</div> : ""}} -->
        <!-- <div className="row justify-content-center">
            {blockTab === block._id ? (
              <i
                onClick={() => blockTabControll(block._id)}
                className="arrow_up_circle"
              ></i>
            ) : (
              <i
                onClick={() => blockTabControll(block._id)}
                className="arrow_down_circle"
              ></i>
            )}
          </div> -->
      </div>
    </div>
    <div className="row justify-content-center">
      <button id="text" className="btn btn-outline-dark col-sm-4">
        Neue Runde Hinzufügen
      </button>
    </div>
  </div>
</div>
