<div>
  <div className="row" *ngFor="let block of this.timeBlocks">
    <div className="col-sm time_block_container">
      <div
        className="row list-group-item time_block"
        (click)="setSelectBlock(block.id)"
        id="time_block"
      >
        <h4 className="text-center">
          <strong>{{ block.name }}</strong>
        </h4>
        <p className="text-center">
          <span *ngFor="let cap of this.buildTB" className="col-sm-3">
            <strong>{{ cap.name }}:</strong>
            {{ buildTBValues(block, cap.value) }}
          </span>
        </p>
      </div>
      <div *ngIf="this.selectBlock === block.id">
        <div *ngFor="let round of this.rounds[block.id]">
          <div className="text-left round text-break">
            <div className="roundZoom" (click)="selectRound(round.id)">
              <div className="row" *ngFor="let item of this.buildRound">
                <label className="col-sm-4">{{ item.name }}</label>
                <div className="col-sm-8 text-muted">
                  {{ this.buildRoundValues(round, item.value) }}
                </div>
              </div>
            </div>
            <ng-container
              *ngIf="
                this.userOverView['join'][block.id]?.includes(round.id);
                then inRound;
                else notRound
              "
            >
            </ng-container>
            <ng-template #inRound>
              <ng-container
                *ngIf="
                  this.userOverView['gm'][block.id]?.includes(round.id);
                  then isGM;
                  else notGM
                "
              >
              </ng-container>
              <ng-template #isGM>
                <button (click)="onEdit(round.id)">Ändern</button>
                <button>Löschen</button>
              </ng-template>
              <ng-template #notGM> <button>Austreten</button></ng-template>
            </ng-template>
            <ng-template #notRound>
              <ng-container
                *ngIf="
                  this.userOverView['join'][block.id];
                  then inBlock;
                  else notBlock
                "
              >
              </ng-container>
              <ng-template #inBlock>
                <button disabled>Runde für diesen Block schon gewählt</button>
              </ng-template>
              <ng-template #notBlock> <button>Beitreten</button>> </ng-template>
            </ng-template>
            <div
              className="row justify-content-center"
              onClick="{() => onExtendRound(k)}"
            >
              <i className="maximize_icon"></i>
            </div>
          </div>
        </div>
        <!-- 
          </div>
          {{blockTab === block._id ? <div className="row">{{round}}</div> : ""}} -->
        <!-- <div className="row justify-content-center">
            {blockTab === block._id ? (
              <i
                onClick={() => blockTabControll(block._id)}
                className="arrow_up_circle"
              ></i>
            ) : (
              <i
                onClick={() => blockTabControll(block._id)}
                className="arrow_down_circle"
              ></i>
            )}
          </div> -->
      </div>
    </div>
  </div>
  <ng-container *ngIf="this.newRound; then newTrue; else newFalse">
  </ng-container>
  <ng-template #newTrue>
    <app-edit (editClose)="this.newRound = false"></app-edit>
  </ng-template>
  <ng-template #newFalse>
    <div className="row justify-content-center">
      <button
        id="text"
        className="btn btn-outline-dark col-sm-4"
        (click)="this.newRound = true"
      >
        Neue Runde Hinzufügen
      </button>
    </div></ng-template
  >
</div>
