<form className="was-validated" [formGroup]="eventForm" (submit)="onSave()">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error
      *ngIf="this.eventForm.controls.start.hasError('matStartDateInvalid')"
      >Invalid start date</mat-error
    >
    <mat-error *ngIf="this.eventForm.controls.end.hasError('matEndDateInvalid')"
      >Invalid end date</mat-error
    >
  </mat-form-field>
  <div className="form-row">
    <div className="input-group mb-3">
      <span className="input-group-prepend input-group-text col-sm-3">
        Event Location
      </span>
      <input
        required
        className="form-control"
        type="text"
        name="e_loc"
        formControlName="loc"
      />
    </div>
  </div>
  <div className="form-row">
    <div className="input-group mb-3">
      <span className="input-group-prepend input-group-text col-sm-3">
        Teilnahme Preis
      </span>
      <input
        required
        min="0"
        className="form-control"
        type="number"
        name="t_price"
        formControlName="ticketPrice"
      />
    </div>
  </div>
  <div className="form-row">
    <div className="input-group mb-3">
      <span className="input-group-prepend input-group-text col-sm-3">
        Event Kosten
      </span>
      <input
        required
        min="0"
        className="form-control"
        type="number"
        name="e_price"
        formControlName="eventPrice"
      />
    </div>
  </div>
  <!-- <div className="form-row">
      <div className="input-group mb-3">
        <span className="input-group-prepend input-group-text col-sm-3">
          Discord Webhook
        </span>
        <input
          required
          min="0"
          className="form-control"
          type="text"
          name="d_hook"
          onChange={(event) => setDiscordHook(event.target.value)}
          value={d_hook}
        />
      </div>
    </div> -->
  <div className="row justify-content-center">
    <button className="btn btn-outline-dark col-sm-4" (click)="onEditClose()">
      Abbrechen
    </button>
    <button
      type="submit"
      className="btn btn-outline-dark col-sm-4"
      (click)="onSave()"
    >
      Speichern
    </button>
  </div>
</form>
