<!-- <div class="card">
    <div
      class="card-body"
      onSubmit={() => {
        onPasswordChange();
      }}
    >
      <h5 class="card-title">Altes Passwort</h5>
      <p class="text-muted">
        <input
          required
          minLength="6"
          type="password"
          class="form-control"
          onChange={(event) => setOld_PW(event.target.value)}
          placeholder="Altes Passwort"
          autoComplete="off"
        />
      </p>
      <h5 class="card-title">Neues Passwort</h5>
      <p class="text-muted">
        <input
          required
          minLength="6"
          type="password"
          class="form-control"
          onChange={(event) => setNew_PW(event.target.value)}
          placeholder="Neues Passwort"
          autoComplete="off"
        />
      </p>
      <h5 class="card-title">Passwort wiederholen</h5>
      <p class="text-muted">
        <input
          required
          minLength="6"
          type="password"
          class="form-control"
          onChange={(event) => setCon_PW(event.target.value)}
          placeholder="Passwort wiederholen"
          autoComplete="off"
        />
      </p>
      <button
        id="text"
        class="btn btn-outline-dark"
        onClick={(event) => {
          setChange_PW(false);
          event.preventDefault();
        }}
      >
        Abbruch
      </button>
      <button
        id="text"
        class="btn btn-outline-dark"
        onClick={(event) => {
          event.preventDefault();
          onPasswordChange();
        }}
      >
        Bestätigen
      </button>
      {announce}
    </div>
  </div> -->
