<form
  [formGroup]="userForm"
  class="was-validated card-account"
  (submit)="onSave()"
>
  <div class="form-row justify-content-center">
    <div class="form-group col-sm-3">
      <label>Profil Name</label>
      <input
        formControlName="profile"
        required
        minLength="2"
        maxLength="50"
        type="text"
        class="form-control"
        name="profil"
        placeholder="{{ this.userForm.value.profile }}"
        id="profil"
        [value]="this.userForm.value.profile"
      />
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-sm-3">
      <label>Vorname</label>
      <input
        formControlName="first"
        required
        minLength="2"
        maxLength="50"
        type="text"
        class="form-control"
        name="first"
        placeholder="{{ this.userForm.value.first }}"
        id="first"
        [value]="this.userForm.value.first"
      />
    </div>
    <div class="form-group col-sm-3">
      <label>Nachname</label>
      <input
        formControlName="last"
        required
        minLength="2"
        maxLength="50"
        type="text"
        class="form-control"
        name="last"
        placeholder="{{ this.userForm.value.last }}"
        id="last"
        [value]="this.userForm.value.last"
      />
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-sm-3">
      <label>Alter</label>
      <input
        formControlName="age"
        required
        type="date"
        name="age"
        class="form-control"
        id="age"
        placeholder="{{ age.toDateString }}"
        [value]="age.toDateString"
      />
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-sm-3">
      <button type="submit" class="btn btn-outline-dark">Speichern</button>
    </div>
  </div>
</form>
<div class="form-group col-sm-3">
  <button id="text" class="btn btn-outline-dark" [routerLink]="'../'">
    Abbruch
  </button>
</div>
