/* You can add global styles to this file, and also import other style files */
$button_BG: #555;
$content_BG: #fff;
$container_BG: #e1e1e1;

html {
  min-height: 100%;
  background-image: url("/images/bgi2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: transparent;
  font-family: sans-serif;
  // overflow: hidden;
}

.appLevel {
  display: grid;
  grid-template-rows: 10vh, 90vh;
  grid-template-areas:
    "nav"
    "container";
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

$conH: 95vh;

// @if $width == 768px{
//   $conH:85vh;
// }
// @if $width == 710px{
//   $conH: 70vh;
// }
// @media (max-width:992px)
// @media (min-width:993px)

.container {
  grid-area: container;
  background-color: $container_BG;
  background-size: contain;
  border: 1px;
  background-size: auto;
  // overflow: auto;
}

.card {
  width: 18rem;
  background-color: $container_BG;
  margin-top: 0.5rem;
}

.button {
  background-color: $button_BG;
  border: 0px solid #ddd;
  // border-top-left-radius: 1em;
  // border-top-right-radius: 1em;
  color: #fff;
  padding: 0.4em 0.6em 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin: 0.1em 0.2em;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(85, 85, 85, 0.822);
}

.button:active {
  // background-color: #fff;
  color: #555;
}

.clickable {
  cursor: pointer;
}

.roundZoom {
  cursor: zoom-in;
}

.navContainer {
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  background-color: #555;
}
.nav-tabs .nav-link {
  /* border: 1px solid transparent; */
  padding: 1rem 1rem 0rem 1rem;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  border: 0px solid #ddd;
  background-color: #555;

  // border-color: $button_BG;
}

.time_block_container {
  border-bottom-width: 0.04rem;
  border-bottom-style: solid;
  border-color: #ccc;
}

.time_block {
  background-color: $container_BG;
  border: 0rem;
  cursor: pointer;
}

.btn-outline-dark:hover {
  background-color: $button_BG;
}

.welcome {
  // background-color: $content_BG;
  margin: 0.25rem 0rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

.round {
  // background-color: $content_BG;
  margin: 0.25rem;
  padding: 0.5rem;
  word-wrap: normal;
  cursor: pointer;
}

footer {
  // background-color: #555;
  padding: 1rem 0 1rem 0;
  border-top-width: 0.04rem;
  border-top-style: solid;
  border-color: #555;
  // position: fixed;
  margin-left: auto;
  margin-right: auto;
  color: #555;
  bottom: 0;
  font-size: 0.7rem;
  // overflow: hidden;
  ul {
    padding: 0;
    margin: 0;
  }
  a {
    color: #707070;
    text-decoration: none;
  }
  li {
    float: left;
    list-style: none;
  }
  li a {
    display: block;
    padding: 0.1rem;
    cursor: pointer;
  }
  h5 {
    margin-top: 0;
  }
  .content {
    margin-top: 2rem;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
